body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(./img/sky.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#photo_container {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    animation: rotate 40s linear infinite;
    z-index: 2;
}

#moon_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    animation: rotate 40s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.audio{
    display: none;
}
.comet {
    position: absolute; 
    top: 30%; 
    left: -300px; 
    animation: moveRight 10s linear infinite; 
    animation-delay: 10s;
      
}

@keyframes moveRight {
    from {
        left: -100px; 
    }
    to {
        left: 100%; 
    }
}
  
.comet2 {
    position: absolute;
    top: 70%; 
    left: -300px;    
    animation: moveRight2 6s linear infinite;
    animation-delay: 10s; 
}

@keyframes moveRight2 {
    from {
        left: -30px;
        top: 80%; 
    }
    to {
        left: 100%;
        top: 20%; 
    }

}

.comet3 {
    position: absolute;
    bottom: -30%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 25px;
    height: auto;
    animation: moveUp3 7s linear infinite;
    animation-delay: 6s; 
}

@keyframes moveUp3 {
    from {
        bottom: -30%; 
    }
    to {
        bottom: 100%; 
    }
}

